html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 4000px;
    background: #161616;
}

.circular-text {
    position: fixed;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0);
    font-size: 24px;
    font-weight: bolder;
    font-family: "Monument Extended";
    transition: 0.5s ease-out;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}

.arrow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-icon {
    font-size: 100px;
    color: white;
}
